<div class="container top30">
  <div class="row">
    <div class="col-md-4">
      <img class="rounded-circle" [src]="imageArtist" alt="Generic placeholder image" width="140" height="140">
    </div>
    <div class="col-md-8">
      <h3>{{ artist.name }}</h3>
      <p><input [routerLink]="['/search']" class="btn btn-primary" type="button" value="Regresar"> <a [href]="artist.external_urls?.spotify" target="_blank" class="btn btn-success">Ir a la web</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Top Tracks</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Popularidad</th>
          <th scope="col">Albúm</th>
          <th scope="col">Escuchar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of tracks; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td><img class="rounded-circle" [src]="track.album.images[2].url" alt="Image Song"></td>
          <td>{{ track.name }}</td>
          <td>{{ track.popularity }}%</td>
          <td>{{ track.album.name }}</td>
          <td>
            <audio controls>
              <source [src]="track.preview_url">
            </audio>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
