<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscar artista</label>
      <input class="form-control" type="text" (keyup) = "searchArtists()" placeholder="Buscar artista" [(ngModel)] = "termino">
    </div>
    <div class="col-md-9" *ngIf="termino.length > 0">
      <h1 class="text-capitalize">{{ termino }}</h1>
      <hr>

      <div class="row">
        <div *ngFor="let artist of __spotify.artists" class="col-md-3 puntero" [routerLink] = "['/artist', artist.id]">
          <img class="img-thumbnail" [src]="artist.images | sinfoto" >
          <p>{{ artist.name }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
